/* CSS Document */
.expstickybar{
position:fixed;
color: white;
padding: 5px;
right:0; /*horizontally center bar in window*/
left:0; /*horizontally center bar in window*/
visibility:hidden;
background: #E43A3D;
z-index: 10000;
width:auto; /*set width of bar to width of entire window*/
font-weight:bold;
background-image: url(../images/desktop.jpg);
border-top:solid 1px #333;
}

.expstickybar a{
color: white;
}

