/* CSS Document */

#slipt{
	background-color:#FFF !important;
	width:650px;
	border: solid 2px #333;
	/*background-image:url(../images/watermark_slipt.png);*/
	background-position:center;
	background-repeat:no-repeat;
	padding:30px;
	color:#000;
	margin:auto;
	font-family: "Cordia New";
	font-size:12px;
}
.txtAmount{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
}

#tooltip{
	float:right;

	width:30%;
	border-left:dotted 1px #FFF;
	padding:20px;
	margin:30px 50px;
	
}

#members_list_SearchPanel{
	border:dashed 1px  #F30; padding:10px; width:600px; background-color:#FFC;
	margin-top:20px;
}

.listSearch{
	border:dashed 1px  #F30; padding:10px; width:600px; background-color:#FFC;
	margin-bottom:10px;
	margin-top:20px;
}

.totalHint{
	padding:10px;
	width:350px;
	margin:auto;

}
.todo{
	width:90%;
}
.todo a{
	color:#000 !important;
	font-size:11px;
}
.todo ul,li{
	list-style-type:disc;
	color:#000;
	text-align:left;
}

	