#nav {
		
		width:100%;
	    /*background-image:url(../images/bg_topmenu.gif); */
		background-color:#ccc;
		padding-left:20px;
		
		
	}
		#nav,#nav li { height:30px; }
		
		#nav ul {
			margin:0px; 
			padding:0px;
			
		}
				#nav li {
					display:block; 
					float:left; 
					list-style:none;
					line-height:30px;
					margin-left:25px; 
					position:relative;
					
							
				}
					#nav a {
						color:#555;
						text-decoration:none;
						padding:2px 7px 2px 7px;
						
					}
					#nav a:hover { 
					text-decoration:none;
					border:solid 1px #4F93E3;
					padding:2px 6px 2px 6px; 
					moz-border-radius: 3px;
					-webkit-border-radius: 3px;
					background-image:url(../images/bg_hover_topmenu.gif);
					color:#000;

			
					}
					
					#nav li ul { display:none; }
					#nav li:hover ul {
						background-color:#D6D6D6;
						display:block; 
						left:-10px; 
						position:absolute; 
						top:30px;
						
						border-left:1px solid #646464;
						border-bottom:1px solid #646464;
						border-right:1px solid #646464;
						moz-border-radius:0 0 6px 6px;
						-webkit-border-bottom-left-radius: 6px;
						-webkit-border-bottom-right-radius: 6px;
					
					    /*background: -moz-linear-gradient(#B2B2B2, #e5e5e5);
						background: -o-linear-gradient(#B2B2B2, #e5e5e5);
						background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B2B2B2), to(#e5e5e5)); /* Older webkit syntax 
						background: -webkit-linear-gradient(#B2B2B2, #e5e5e5); */
										 					
					}

					#nav li ul li {
						display:block;
						clear:right;
						text-align:center;
						width:180px;
						margin:0;
						padding-left:10px;
						padding-right:10px;
						
						
					}
					#nav li:hover ul li a{
						display:block;
						color:#06F;
						font-size:11px;
						line-height:13px;
						
					border:solid 1px #4F93E3;
					padding:2px 6px 2px 6px; 
					moz-border-radius: 3px;
					-webkit-border-radius: 3px;
					background-color:#FFF;

					
					}